<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="{{ STATIC_URL }}core/js/cytoscape.js"></script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>

<body>
    <div id="cy"></div>
    <script>
        var graph = JSON.parse('{{ graph|safe}}');
        var cy = cytoscape({
          container: document.getElementById('cy'),
          elements: graph,
        style: cytoscape.stylesheet()
        .selector('node')
          .css({
              'content': 'data(id)',
              'text-valign': 'center',
              'background-color': 'data(color)',
          })
        .selector('edge')
          .css({
            'content': 'data(name)',
            'text-rotation': 'autorotate',
            'font-size': 26,
            'curve-style': 'bezier',
            'target-arrow-shape': 'triangle',
            'target-arrow-color': 'blue',
            'width': 4,
            'line-color': 'green',
          })

        });

        var layout = cy.layout({
            name: 'breadthfirst'
        });
        layout.run();
    </script>
</body>